In [2]:
import pandas as pd

# Create a very basic pandas DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}

df_basic = pd.DataFrame(data)

df_basic.head()

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [12]:
df_basic['City'].tolist()

['New York', 'Los Angeles', 'Chicago']

In [4]:
# Convert the DataFrame to JSON
json_basic = df_basic.to_json(orient='records')

# Display the JSON result
print("\nBasic JSON:")
print(json_basic)

Basic JSON:
[{"Name":"Alice","Age":25,"City":"New York"},{"Name":"Bob","Age":30,"City":"Los Angeles"},{"Name":"Charlie","Age":35,"City":"Chicago"}]

In [5]:
# Create a DataFrame with nested entries (dictionaries inside columns)
data_nested = {'Person': ['Alice', 'Bob', 'Charlie'],
               'Details': [{'Age': 25, 'City': 'New York'},
                           {'Age': 30, 'City': 'Los Angeles'},
                           {'Age': 35, 'City': 'Chicago'}]}

df_nested = pd.DataFrame(data_nested)
df_nested.head()

    Person                             Details
0    Alice     {'Age': 25, 'City': 'New York'}
1      Bob  {'Age': 30, 'City': 'Los Angeles'}
2  Charlie      {'Age': 35, 'City': 'Chicago'}

In [7]:
# Convert the DataFrame to JSON
json_nested = df_nested.to_json(orient='records')

# Display the JSON result
print("\nNested JSON:")
print(json_nested)

Nested JSON:
[{"Person":"Alice","Details":{"Age":25,"City":"New York"}},{"Person":"Bob","Details":{"Age":30,"City":"Los Angeles"}},{"Person":"Charlie","Details":{"Age":35,"City":"Chicago"}}]